<template>
  <div class="app">
    <RegisterForm v-show="!filled"></RegisterForm>
    <RegisterList v-show="filled"></RegisterList>
  </div>
</template>

<script>
import './Styles/app.scss'



export default {
  name: 'app',
  data() {
    return {
    }},
  components: {
    RegisterForm: () => import('./components/RegisterForm.vue'), 
    RegisterList: () => import('./components/RegisterList.vue')
  },
  computed : {
     filled: {
        get() { return this.$store.getters.getFilled; },
        set(newValue) { this.$store.dispatch('setFilled', newValue); }
     }
  },
}
</script>
