<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <div class="table-responsive">
          <table class="table-hover">
            <thead>
              <tr>
                <th>Firma nimi</th>
                <th>Registrikood</th>
                <th>Nimi</th>
                <th>Email</th>
                <th>Sünnikuupäev</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="register in registers" :key="register.email">
                <td>{{ register.company_name }}</td>
                <td>{{ register.company_code }}</td>
                <td>{{ register.name }}</td>
                <td>{{ register.email }}</td>
                <td>{{ register.age }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {

  mounted() {},
  data() {
    return {};
  },
  computed: {
    registers: {
      get() {
        return this.$store.getters.getRegisters;
      },
      set(newValue) {
        this.$store.dispatch("setRegisters", newValue);
      },
    },
  },
};
</script>

