<!--Kuna hinnatakse ainult visuaali ja tehnilist lahendust, siis minu poolt selline vorm, mida võib-olla ei ole kõige mugavam kasutada, aga väga lahe näeb välja-->
<template>
  <div class="container registerform-wrap">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <Transition>
          <div
            v-if="showErrors"
            class="errors"
            @mouseover="showErrors = !showErrors"
          >
            <div v-for="error in errors" :key="error" class="error">
              {{ error }}
            </div>
          </div>
        </Transition>

        <div v-if="showbuttons" class="signup-button">
          <div @click="buttonClick('company')" class="firma">Firma</div>
          <div @click="buttonClick('private')" class="eraisik">Eraisik</div>
        </div>

        <form v-if="showform">
          <template
            v-for="(value, key) in form"
            v-for-callback="{ key: key, array: items1, callback: callback }"
          >
            <input
              :key="value.name"
              :ref="value.key"
              v-if="(key < 3 && company) || key >= 3"
              @keydown.enter.prevent="
                $event.target.nextElementSibling.nextElementSibling.focus()
              "
              :id="'input-' + key"
              class="form-control"
              :type="value.type"
              :placeholder="value.placeholder"
              required
            />
            <label
              :key="value.key"
              :for="'input-' + key"
              v-if="(key < 3 && company) || key >= 3"
            >
              <span class="label-text">{{ value.name }}{{ value.error }}</span>
              <span class="nav-dot"></span>
            </label>
          </template>

          <button type="submit" @click.prevent="sendData()">Registreeru</button>

          <p class="tip">↑ Shift+Tab</p>
          <p class="tip left">Tab ↓</p>
        </form>
      </div>
    </div>
  </div>
</template>


<script>
//TODO: Event catchers for mobile scroll
import appApi from "../api";
require.resolve("crypto-browserify");
import bcrypt from "bcryptjs";

export default {
  mounted() {},
  data() {
    return {
      form: {
        1: {
          key: "company_name",
          name: "Firma nimi",
          type: "text",
          placeholder: "Firma OÜ",
        },
        2: {
          key: "company_code",
          name: "Registrikood",
          type: "number",
          placeholder: "12345678",
        },
        3: {
          key: "name",
          name: "Nimi",
          type: "text",
          placeholder: "Eesnimi Perenimi",
        },
        4: {
          key: "email",
          name: "E-mail",
          type: "email",
          placeholder: "email@aadress.ee",
        },
        5: {
          key: "age",
          name: "Sünnikuupäev",
          type: "date",
          placeholder: "",
        },
        6: {
          key: "password",
          name: "Parool",
          type: "password",
          placeholder: "******",
        },
        7: {
          key: "password_confirmation",
          name: "Kinnita parool",
          type: "password",
          placeholder: "******",
        },
      },
      showbuttons: true,
      company: false,
      showform: false,
      lastfocus: "",
      errors: [],
      showErrors: false,
    };
  },
  created() {
    document.addEventListener("focusin", this.focusChanged);
    document.addEventListener("click", this.returnFocus);
  },
  beforeDestroy() {
    document.removeEventListener("focusin", this.focusChanged);
    document.removeEventListener("click", this.returnFocus);
  },
  methods: {
    focusChanged(event) {
      const el = event.target;
      this.lastfocus = el;
    },
    returnFocus() {
      if (this.lastfocus != "") {
        this.lastfocus.focus();
      }
    },
    buttonClick(selected) {
      if (selected == "private") {
        this.showbuttons = false;
        this.showform = true;
        this.$nextTick(() => {
          this.$refs.name[0].focus();
        });
      } else if (selected == "company") {
        this.showbuttons = false;
        this.company = true;
        this.showform = true;
        this.$nextTick(() => {
          this.$refs.company_name[0].focus();
        });
      }
    },
    encryptPassword(password) {
      const salt = bcrypt.genSaltSync(10);
      return bcrypt.hashSync(password, salt);
    },
    sendData() {
      this.errors = [];

      if (
        this.$refs.password[0].value !=
          this.$refs.password_confirmation[0].value &&
        this.$refs.password[0].value.len > 5
      ) {
        this.$refs.password[0].focus();
        this.errors.push("Paroolid ei kattu või on liiga lühikesed");
        this.showErrors = true;
        return;
      }

      var request = {
        company: this.company,
        company_name: "",
        company_code: "",
        name: this.$refs.name[0].value,
        email: this.$refs.email[0].value,
        age: this.$refs.age[0].value,
        password: this.encryptPassword(this.$refs.password[0].value),
      };

      if (typeof this.$refs.company_name !== "undefined") {
        request.company_name = this.$refs.company_name[0].value;
        request.company_code = this.$refs.company_code[0].value;
      }

      var request_json = JSON.stringify(request);

      self = this;

      appApi.post("/register", { data: request_json }).then(function (response) {
        if (typeof response.data.errors !== "undefined") {
          var scrollto = 7;

          Object.keys(response.data.errors).forEach(function (key, item) {
            if (key == "company_name") {
              self.errors.push("Firma nimes viga");
              scrollto = 1;
            }

            if (key == "company_code") {
              self.errors.push("Registrikoodis viga");
              if (scrollto > 3) {
                scrollto = 2;
              }
            }

            if (key == "name") {
              self.errors.push("Nimes viga");
              if (scrollto > 2) {
                scrollto = 3;
              }
            }

            if (key == "email") {
              self.errors.push("Emailis viga või selline juba kasutusel");
              if (scrollto > 4) {
                scrollto = 4;
              }
            }

            if (key == "age") {
              self.errors.push("Kuupäev on vigane");
              if (scrollto > 5) {
                scrollto = 5;
              }
            }

            if (key == "password") {
              self.errors.push("Parool on vigane");
              if (scrollto > 6) {
                scrollto = 6;
              }
            }

            switch (scrollto) {
              case 1:
                self.$refs.company_name[0].focus();
                break;
              case 2:
                self.$refs.company_code[0].focus();
                break;
              case 3:
                self.$refs.name[0].focus();
                break;
              case 4:
                self.$refs.email[0].focus();
                break;
              case 5:
                self.$refs.age[0].focus();
                break;
              case 6:
                self.$refs.password[0].focus();
                break;
            }

            self.showErrors = true;
          });
        } else {
          self.$store.dispatch("setRegister", request);
          self.$store.dispatch("setFilled", true);
        }
      });
    },
  },
};
</script>

